/* css reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	/*font-family: 'Open Sans', serif;*/
}

html {
	scroll-behavior: smooth;
}

/* landing */
.landing {
	height: 100vh;
}
.right h1 {
	position: relative;
	top: 25%;
	left: -5%;
	font-size: 15vh;
	text-shadow: 5px 5px 10px rgba(0,0,0,.5);
}
.right a {
	position: relative;
	top: 32vh;
	left: -5%;
	padding: 10px 20px;
	font-size: 5vh;
	font-weight: bold;
	border: 4px solid #A93226;
	border-radius: 10px;
	outline: none;

}
.right > a:hover {
	transition: .3s;
	color: #f2f2f2;
	background-color: #A93226;
}

/* HOME PAGE */

/* LEGEND */ /* LEGEND */ /* LEGEND */ /* LEGEND */ /* LEGEND */
/*traveller*/
#travntrav {
	display: block;
}
#traveller {
	display: none;
}
#exposure {
	display: none;
}
#symptoms {
	display: none;
}
/*non-traveller*/
#notTraveller {
	display: none;
}
#patientSymptoms {
	display: none;
}
#occurrence {
	display: none;
}
#closeContact {
	display: none;
}
#respiratoryProblem {
	display: none;
}

/* BUTTON */
#proceed {
	visibility: hidden;
	/*display: none;*/
}
/* LEGEND */ /* LEGEND */ /* LEGEND */ /* LEGEND */ /* LEGEND */

input[type="checkbox"] {
	visibility: hidden;
}

/* trav/nontrav */
.home {
	height: 100%;
	background-color: #f2f2f2;
	border-radius: 20px;
	/*overflow: auto;*/
	/*display: table;*/
}
.home img {
	height: 10vh;
}
#cw {
	display: inline-block;
}
#name {
	padding: 5px;
	text-align: center;
	width: 50vh;
	border: 2px solid #333;
	border-radius: 20px;
	outline: none;
}
#travel img {
	height: 30vh;
}
#travel img:hover {
	transform: scale(1.1);
	transition: .3s;
}
#ntravel img {
	height: 30vh;
}
#ntravel img:hover {
	transform: scale(1.1);
	transition: .3s;
}

/* traveller */
.choice {
	font-size: 20px;
	font-weight: bolder;
	width: 50vh;
	background-color: white;
	/*border: 2px solid #333;*/
	border-radius: 20px;
}
.choice:focus {
	border: 2px solid #A93226;
	outline: none;
}
.choice:hover {
	border: 2px solid #A93226;
}
#proceed {
	width: 50vh;
	color: white;
	font-size: 25px;
	font-weight: bolder;
	background-color: #A93226;
	border-radius: 20px;
	outline: none;
}

/* exposure */
.choices {
	text-align: left;
	padding: 20px;
	font-size: 20px;
	font-weight: bolder;
	width: 100%;
	background-color: white;
	box-shadow: 1px 1px 5px;
	border: 2px solid transparent;
	border-radius: 20px;
}
.choices:hover {
	border: 2px solid #A93226;
}

/* SUMMARY PAGE */
.summary {
	border-bottom: 10px solid #A93226;
}
.summary h1 {
	position: relative;
	top: 2vh;
	left: -5vh;
	font-size: 10vh;
	text-shadow: 5px 5px 10px rgba(0,0,0,.5);
	display: inline-block;
}
.summary img {
	height: 40vh;
}
.simg hr{
	margin-top: 0;
	height: 60vh;
	width: 100%;
	background-size: cover;
	background-image: url(../images/home.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.content {
	background-color: #f2f2f2;
}
hr {
	background-color: #A93226;
	height: 2px;
}
.result h1 {
	font-weight: bolder;
}
.result h5 {
	font-weight: bold;
}
.faq h1 {
	font-weight: bold;
}
#getName {
	font-style: italic;
}
.accordion {
	background-color: #A93226;
	color: #f2f2f2;
	font-size: 20px;
	border-radius: 5px;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	transition: 0.4s;
	outline: none;
}
.accordion:hover {
	color: #333;
	background-color: #ccc;
}
.panel {
  padding: 20px;
  background-color: #f2f2f2;
  display: none;
  overflow: hidden;
}
#reTest {
	font-size: 20px;
	font-weight: bolder;
	border: 5px solid #A93226;
	border-radius: 10px;
	outline: none;
}
#reTest:hover {
	background-color: #A93226;
	color: #f2f2f2;
	transition: .3s;
}
#print {
	height: 60px;
}
#print:hover {
	transform: scale(1.2);
	transition: .2s;
}
.footer {
	background-color: #A93226;
}
.num h2 {
	color: #f2f2f2;
}
.dev h2, li {
	color: #f2f2f2;
}
/*for summary.html*/
#pui, #pum, #npuipum{
	visibility: hidden;
	margin-top:  40px;
}


/* MEDIUM SCREEN */
@media only screen and (min-width: 451px) and (max-width: 960px) {
	.left {
		height: 60vh;
	}
	.left img {
		height: 70vh;
	}
	.right h1 {
		top: 0%;
		left: 0%;
		font-size: 10vh;
	}
	.right a {
		margin-top: 30px;
		padding: 15px;
		top: 0%;
		left: 0%;
		font-size: 5vh;
	}
	/* SUMMARY */
	.summary img {
		margin-top: 5vh;
	}
	.summary h1 {
		left: 0%;
	}
}

/* SMALL SCREEN */
@media only screen and (max-width: 450px) {
	.left {
		height: 50vh;
	}
	.left img {
		margin-top: 50px;
		height: 50vh;
	}
	.right h1 {
		padding: 0;
		top: 0%;
		left: 0%;
		font-size: 6vh;
	}
	.right a {
		font-size: 5vh;
		padding: 15px;
		top: 5vh;
		left: 0%;
		border-radius: 10px;
	}

	/* HOME */
	h3 {
		font-size: 25px;
		text-align: left;
	}
	p {
		font-size: 15px;
		text-align: left;
	}
	.choices {
		font-size: 18px;
	}
	/* travnontrav */
	.home {
		text-align: center;
	}
	.home img {
	height: 8vh;
	}
	#cw {
		font-size: 30px;
	}
	#travel img {
		height: 18vh;
	}
	#travel h2 {
		font-size: 20px;
	}
	#ntravel img {
		height: 18vh;
	}
	#ntravel h2 {
		font-size: 20px;
	}

	/* traveller */
	#proceed {
		width: 100%;
	}

	/* SUMMARY */
	.summary img {
		margin-top: 5vh;
	}
	.summary h1 {
		font-size: 50px;
		left: 0%;
	}
	.faq h1 {
		font-size: 20px;
		font-weight: bold;
	}
	#getName {
		font-size: 25px;
	}

}
